#footer {
  overflow: hidden;
  padding: 1.5em 0em;
  background: $footer-background-color;
  text-align: center;
  display: flex;
  .fbox {
    flex-grow: 1;
  }
  svg.svg-inline--fa {
    padding-right: 10px;
  }
}

#copyright {
  overflow: hidden;
  padding: .5em 0em;
  border-top: $copyright-border-width solid $copyright-border-color;
  text-align: center;
  p,a {
    font-size: .7em;
    letter-spacing: 1px;
    font-size: 0.9em;
    color: $copyright-color;
  }
  a {
    text-decoration: none;
  }
  ul.contact {
    margin: 0;
    padding: 0em 0em 3em;
    list-style: none;
    li {
      display: inline-block;
      padding: 0em 0.1em;
      svg.svg-inline--fa {
        padding: 0em 1em;
        text-decoration: none;
        color: $copyright-icon-color;
        font-size: $copyright-icon-size;
      }
    }
  }
}
