body {
  background: $primary-color;
}

.container {
  margin: 0em auto;
}

@media (max-width: 767px) {
  .hide-small {
    display: none;
  }
}

.wrapper {
  overflow: hidden;
  padding: .5em 0em 5em 0em;
  background: $wrapper-background;
}
