$primary-color: #2056ac;
$secondary-color: white;
$primary-text-color: rgba(0, 0, 0, 0.6);
$heading-primary-color: #404040;
$wrapper-background: white;
$title-color: white;
$title-size: 2em;
$footer-background-color: #e3f0f7;
$copyright-color: rgba(255, 255, 255, 0.6);
$copyright-border-width: 20px;
$copyright-border-color: rgba(255, 255, 255, 0.08);
$copyright-icon-color: white;
$copyright-icon-size: 1.8em;
$home-main-border-color: rgba(0, 0, 0, 0.2);
$home-main-border-size: 1px;
$home-main-icon-size: 4em;
$home-main-title-size: 1.5em;
$lists-border-color: rgba(0, 0, 0, 0.2);
