.videos-title{
    text-align: center;
    padding: 1em 0em 0em 0em;
}

.videos {
  overflow: hidden;
  padding: 50px 0em 0em 0em;
  text-align: center;
  .video {
    h2 {
        margin-bottom: 20px;
    }
    &:not(:last-child) {
      padding-bottom: 50px;
    }
    &:not(:first-child) {
      padding-top: 50px;
      border-top: 1px solid $lists-border-color
    }
  }
}
